$color-uno: rgb(199, 125, 255);
$color-dos: rgb(157, 78, 221);
$color-tres: rgb(123, 44, 191);
$color-cuatro: rgb(90, 24, 154);
$color-cinco: rgb(60, 9, 108);
$color-seis: rgb(36, 0, 70);
$colortx: white;
$colorbg: black;
$font-family: ('Anybody', 'cursive', 'Dongle', sans-serif, 'Fauna One', serif);

$primary: rgb(60, 9, 108);

$btn-outline-primary: rgb(60, 9, 108);
$btn-hover-bg: rgb(123, 44, 191);